pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels
tensorflow
langgraph
pypdf
sentence_transformers
requests
pyMuPDF
SpeechRecognition
pyaudio
internetarchive
# git+https://github.com/facebookresearch/detectron2.git
ultralytics
opencv-python
layoutparser
layoutparser[layoutmodels]
layoutparser[ocr]
layoutparser[layoutmodels_yolov5]
Pillow
torch
torchvision
torchaudio
tf-keras
openai
transformers
dotenv
faiss-cpu
pymongo[srv]
boto3